@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Poppins:wght@300&display=swap');


body {
    background-color: rgb(136, 87, 182);

}

#heading {
    border: 2px solid rgb(231, 188, 183);
    border-radius: 5px;
    width: 150px;
    margin: 20px auto;
    text-align: center;
}

#container {
    margin: 30px auto;
    border: 2px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: rgb(97, 97, 241);
    justify-content: center;
    border: 3px solid rgb(240, 140, 153);
    border-radius: 15px;
    align-items: center;
}

#disp {
    height: 90px;
    width: 94%;
    border: 2px solid beige;
    border-radius: 5px;
    background-color: bisque;

}


#row1 {

    display: flex;

}

#row2 {

    display: flex;

}


#row3 {

    display: flex;

}

#row4 {
    display: flex;
}

.but {
    background-color: aquamarine;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 2px 2px;
    width: 90px;
    height: 100px;
    border: 1px solid khaki;
    border-radius: 10px;
}

.but:hover {
    background-color: rgb(246, 255, 127);

}

.but:active {
    background-color: rgb(127, 236, 255);
    border-radius: 30px;
}